<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>ページが見つかりません | 翠巒祭</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">アドレスが見つかりません。</p>
        </LayoutView>
    </NotFound>
</Router>
