@page "/sell"
@inject HttpClient Http

<PageTitle>会計 | 翠巒祭</PageTitle>

<h1>会計</h1>

<!-- QR Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">QRコード</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<center>
			@if (!string.IsNullOrEmpty(QRCodeStr))
			{
				<p><img width="300" height="300" src="@QRCodeStr"></p>
			}
			else
			{
				<p>QRコード作成中です...</p>
			}
		</center>
		<p>すべての合計金額: @AllPrices 円</p>
		<p>お金を準備し、画面を明るくしてお待ちください。</p>
		@if (item_data != null)
		{
			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>価格(円)</th>
						<th>個数</th>
						<th>合計金額(円)</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in this.item_data)
					{
						<tr>
							<td>@item.ItemName</td>
							<td>@item.ItemPrice</td>
							<td>@item.ItemNum</td>
							<td>@item.ItemPrices</td>
						</tr>
					}
				</tbody>
			</table>
		}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn primary-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<!-- AllDel Modal -->
<div class="modal fade" id="DelModal" tabindex="-1" aria-labelledby="DelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="DelModalLabel">警告</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>個数のデータがすべて削除されます。</p>
		<p>(QRコード読み込み後は注文に影響しません。)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="AllDel">全削除</button>
      </div>
    </div>
  </div>
</div>

@if (item_data == null)
{
    <p><em>読み込み中…</em></p>
}
else
{
	<div class="footer">
		<a class="under-button" type="button" data-bs-toggle="modal" data-bs-target="#DelModal">
			@* Fluent Icons - Delete *@
			<svg width="4vh" height="4vh" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.5 6a1 1 0 0 1-.883.993L20.5 7h-.845l-1.231 12.52A2.75 2.75 0 0 1 15.687 22H8.313a2.75 2.75 0 0 1-2.737-2.48L4.345 7H3.5a1 1 0 0 1 0-2h5a3.5 3.5 0 1 1 7 0h5a1 1 0 0 1 1 1Zm-7.25 3.25a.75.75 0 0 0-.743.648L13.5 10v7l.007.102a.75.75 0 0 0 1.486 0L15 17v-7l-.007-.102a.75.75 0 0 0-.743-.648Zm-4.5 0a.75.75 0 0 0-.743.648L9 10v7l.007.102a.75.75 0 0 0 1.486 0L10.5 17v-7l-.007-.102a.75.75 0 0 0-.743-.648ZM12 3.5A1.5 1.5 0 0 0 10.5 5h3A1.5 1.5 0 0 0 12 3.5Z"/></svg>
		</a>
		<a class="under-button" type="button" data-bs-toggle="modal" data-bs-target="#Modal" @onclick="QR">
			<svg width="4vh" height="4vh" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8 6H6v2h2V6Z"/><path d="M3 5.5A2.5 2.5 0 0 1 5.5 3h3A2.5 2.5 0 0 1 11 5.5v3A2.5 2.5 0 0 1 8.5 11h-3A2.5 2.5 0 0 1 3 8.5v-3ZM5.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM6 16h2v2H6v-2Z"/><path d="M3 15.5A2.5 2.5 0 0 1 5.5 13h3a2.5 2.5 0 0 1 2.5 2.5v3A2.5 2.5 0 0 1 8.5 21h-3A2.5 2.5 0 0 1 3 18.5v-3Zm2.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM18 6h-2v2h2V6Z"/><path d="M15.5 3A2.5 2.5 0 0 0 13 5.5v3a2.5 2.5 0 0 0 2.5 2.5h3A2.5 2.5 0 0 0 21 8.5v-3A2.5 2.5 0 0 0 18.5 3h-3ZM15 5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-3ZM13 13h2.75v2.75H13V13ZM18.25 15.75h-2.5v2.5H13V21h2.75v-2.75h2.5V21H21v-2.75h-2.75v-2.5ZM18.25 15.75V13H21v2.75h-2.75Z"/></svg>
		</a>
	</div>

	@foreach (var item in this.item_data)
	{
		<div class="item" @key="item.ItemName">
			<div class="img"></div>

			<div class="text">
				<div class="text-top">@item.ItemName</div>
				<div class="text-top">
					<a class="button" @onclick="() => Declement(item)" oncontextmenu="return false;">-</a>
						@item.ItemNum 
					<a class="button" @onclick="() => Plus(item)" oncontextmenu="return false;">+</a>
				</div>
				<div>1個: @item.ItemPrice 円</div>
				<div>計: @item.ItemPrices 円</div>
			</div>
		</div>
	}
}

<div style="height: 20vh;"></div>

@code {
    private ItemData[]? item_data;

    protected override async Task OnInitializedAsync()
    {
        item_data = await Http.GetFromJsonAsync<ItemData[]>("sample-data/item.json");
    }

    public class ItemData
    {
        public string? ItemName { get; set; }
        public int ItemPrice { get; set; }
        public int ItemNum = 0;
        public int ItemPrices => (int)(ItemPrice * ItemNum);
	}

	private void AllDel()
	{
		if (item_data != null)
		{
			foreach (var item in this.item_data)
			{
				item.ItemNum = 0;
			}
		}
		StateHasChanged();// UIの再描画
	}

	int AllPrices = 0;
	string qrContent = "";
	string QRCodeStr = string.Empty;
	private void QR()
	{
		// 合計金額を求める処理
		AllPrices = 0;
		if (item_data != null)
		{
			foreach (var item in this.item_data)
			{
				AllPrices += item.ItemPrices;
			}
		}

		// QRコード作成処理(遅いので非同期処理にする予定)
		qrContent = "";
		if (item_data != null)
		{
			foreach (var item in this.item_data)
			{
				string temp = "";
				if (item.ItemName is not null)
					temp = item.ItemName;
				qrContent += temp + ", ";
				qrContent += item.ItemPrice.ToString() + ", ";
				qrContent += item.ItemNum.ToString() + ", ";
				qrContent += item.ItemPrices.ToString() + "; ";
			}
		}
		QRCodeStr = GenerateQRCode.GenerateQR(qrContent);
		// qrContent = string.Empty;
		StateHasChanged();// UIの再描画
	}

	private void Declement(ItemData item)
	{
		if (item.ItemNum != 0)
			item.ItemNum--;
		StateHasChanged();// UIの再描画
	}

	private void Plus(ItemData item)
	{
		item.ItemNum++;
		StateHasChanged();// UIの再描画
	}
}
